<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>任务清单</title>
  <link rel="stylesheet" href="node_modules/todomvc-app-css/index.css">
  <!-- CSS overrides - remove if you don't need it -->
  <!-- <link rel="stylesheet" href="css/app.css"> -->
</head>

<body ng-app='todoApp' ng-controller='todoController'>
  <section class="todoapp">
    <header class="header">
      <h1>清单</h1>
      <form ng-submit='add()'>
        <input class="new-todo" placeholder="你需要做的事情？" ng-model='newTask' autofocus>
      </form>
    </header>
    <!-- This section should be hidden by default and shown when there are todos -->
    <section class="main">
      <input ng-click='markAll()' class="toggle-all" type="checkbox">
      <label for="toggle-all">标记所有已经完成的</label>
      <ul class="todo-list">
        <!-- These are here just to show the structure of the list items -->
        <!-- List items should get the class `editing` when editing and `completed` when marked as completed -->
        <li ng-class="{'completed':item.completed,'editing':isEditId == item.id}" ng-repeat='item in tasks | filter : isCompleted'>
          <div class="view">
            <input class="toggle" type="checkbox" checked ng-model='item.completed'>
            <label ng-dblclick='edit(item.id)'>{{item.name}}</label>
            <button class="destroy" ng-click='destroy(item.id)'></button>
          </div>
          <form ng-submit='save()'>
            <input class="edit" ng-model="item.name">
          </form>
        </li>
      </ul>
    </section>
    <!-- This footer should hidden by default and shown when there are todos -->
    <footer class="footer">
      <!-- This should be `0 items left` by default -->
      <span class="todo-count"><strong style="color: red">{{leftItem}}</strong> 个未完成</span>
      <!-- Remove this if you don't implement routing -->
      <ul class="filters">
        <li><a ng-click='all()' ng-class="{'selected': isCompleted.completed == undefined }" href="#/">所有任务</a></li>
        <li><a ng-click='active()' ng-class="{'selected': isCompleted.completed == false}" href="#/active">未完成</a></li>    
        <li><a ng-click='completed()' ng-class="{'selected': isCompleted.completed == true}" href="#/completed">已完成</a></li>
      </ul>
      <!-- Hidden if no completed items are left ↓ -->
      <button ng-show='isShow()' ng-click='clearAll()' class="clear-completed">清除已完成</button>
    </footer>
  </section>
  <script src='../../angular-1.5.2/angular.min.js'></script>
  <script src="app.js"></script>
</body>

</html>
